# dependencies
node_modules/

# environment
.config/dev.env
.config/prod.env
.config/test.env
Caddyfile

# production
dist/
./src/devSchema/prisma.graphql
./src/testSchema/prisma.graphql
./src/prodSchema/prisma.graphql


# misc
.DS_Store
experiment.js